#emailInput {
  margin-left: 0.5rem;
}

#logo {
  width: 30em!important;
  height: 30em;
  padding: 0.5em;
  background-color: white;
  flex-shrink: 0;
  margin: 1em auto ;
}
.text-box {
  margin: 1em 2em;
}
.text-box p {
  font-size: x-large;
  line-height: 150%;
  max-width: 20em;
}
#landingpage {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  
}

@media only screen and (max-width: 1000px) {
  #logo {
    width: 90vw;
    height: 90vw;
    margin-bottom: 3em;
  }
  #landingpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .text-box {
    margin: 0px;
  }
  .text-box p {
    font-size: x-large;
  }
}
