


#logo {
  max-width: 20em;
  max-height: 20em;
  padding: 0.5em;
  background-color: white;
  /* grid-area: logo; */
  /* align-self: start!important; */
  justify-self: center;
  align-self: center;
  width: 50%;
}
.text-box .txtWrapper {
  width: 50%;
}
.text-box {
  margin: 0;
  grid-area: textBox;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
}

.text-box p {
  font-size: x-large;
  line-height: 150%;
}
#spotifyPlayer {
  grid-area: player;
  
  
}
main {
  margin: auto;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
    "player player player player player player"
    " textBox textBox textBox textBox textBox textBox"
    " textBox textBox textBox textBox textBox textBox";
  column-gap: 1em;
}

@media only screen and (max-width: 1000px) {
  #logo {
    width: 100%;
    margin-bottom: 3em;
  }
  #landingpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
   
  }
  .text-box {
    margin: 0px;
    flex-direction: column;
    justify-content: space-around;
  }
  .text-box .txtWrapper {
  width: 100%;
}
  .text-box p {
    font-size: x-large;
  }
}
