#contactform {
    width: 100%;
}
.contactForm label {
    text-align: center;
}
#erfahreMehr {
    padding-bottom: 2rem;
}
.contactForm input {
    width: 99%;
    margin-bottom: .5rem;
}
#submit {
    width: 100%;
}